root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Let KiCad retain its native formatting for design files.
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[{.gitignore,.gitattributes,.editorconfig}]
trim_trailing_whitespace = true
